
@{
    ViewBag.Title = "Đặt hàng thành công";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="row ">
                <div class="col-12" id="Load_data">
                    <h2 class="text-center m-5 text-danger">Bạn đã đặt hàng thành công</h2>
                </div>

            </div>
        </div>
    </div>
</div>